<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0 position-relative">
      <%= image_tag 'picture.jpg', class: 'img-fluid', alt: 'airbnb_picture', style: "height: 400px; width: 100%; object-fit: cover;" %>
    </div>
    <div class="main-box col-12 d-flex align-items-start justify-content-center" style="margin-top: -100px;">
      <div class="col-7">
        <div class="container">
          <div class="info">
            <div class="details" style="width: 100%;">
              <div class="card shadow-sm mb-3 bg-light">
                <div class="card-body">
                  <h1 class="card-title"><%= @flat.name %></h1>
                  <p class="card-text"><%= @flat.address %></p>
                </div>
              </div>
              <div class="card shadow-sm mb-3 bg-light">
                <div class="card-body">
                  <h2 class="card-title">A little bit more about this flat...</h2>
                  <p class="card-text"><%= @flat.description %></p>
                </div>
              </div>
              <div class="card shadow-sm bg-light">
                <div class="card-body">
                  <h2 class="card-title">Details</h2>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="d-flex align-items-center me-3">
                      <i class="fa-solid fa-user-group me-2"></i>
                      <span><%= @flat.number_of_guests %></span>
                    </div>
                    <div class="d-flex align-items-center">
                      <i class="fa-solid fa-dollar-sign me-2"></i>
                      <span><%= @flat.price_per_night %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="container">
          <div class="booking d-flex flex-column align-items-start">
            <div class="card shadow-sm p-1 bg-light mb-3" style="width: 100%;">
              <div class="card-body">
                <h6 class="card-title">Book this place!</h6>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">From:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="12/10/2017">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">To:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="18/10/2017">
                </div>
                <button type="button" class="btn btn-success" style="width: 100%;">Book</button>
              </div>
            </div>
            <div class="card shadow-sm p-1 bg-light" style="width: 100%;">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                  <span>Share</span>
                  <div class="icon-links">
                    <i class="fa-brands fa-square-facebook fs-3"></i>
                    <i class="fa-brands fa-square-twitter fs-3"></i>
                    <i class="fa-brands fa-square-pinterest fs-3"></i>
                    <i class="fa-solid fa-square-envelope fs-3"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
